.login {
  background-image: url(https://www.teahub.io/photos/full/1-14065_3840x2160-wallpaper-forest-mountains-violet-birds-mountain-wallpaper.jpg);
  background-size: 1550px 750px;
  height: 100vh;
  font-size: 15px;
  background-repeat: no-repeat;
}
