.login {
    background-image: url(https://www.teahub.io/photos/full/1-14065_3840x2160-wallpaper-forest-mountains-violet-birds-mountain-wallpaper.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
}